<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="css/main.css">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Sans:400,700" rel="stylesheet">
</head>
<body>

<!-- Код для примера -->

<% const topMenuItems = [
    {title: 'HAIRCARE', link: '#'},
    {title: 'COLOR', link: '#'},
    {title: 'STYLING', link: '#'},
    {title: 'TEXTURE', link: '#'},
    {title: 'GET INSPIRED', link: '#'},
    {title: 'SOCIAL', link: '#'},
    {title: 'NEWS', link: '#'},
    {title: 'ABOUT', link: '#'},
    {title: 'PROFFESIONAL', link: '#'}
];

const breadcrumbItems = [
    {title: 'HOME', link: "#"},
    {title: 'VIDEOS', link: "#"}
];

const bottomMenuItems = [
    {title: 'PRIVACY POLICY', link: '#'},
    {title: 'TERMS OF USE', link: '#'},
    {title: 'CONTACT US', link: '#'},
    {title: 'NEWSLETTER', link: '#'},
    {title: 'SITEMAP', link: '#'}
];

const socialItems = [
    {icon: 'img/svg/ico_facebook.svg', link: '#'},
    {icon: 'img/svg/ico_twitter.svg', link: '#'},
    {icon: 'img/svg/ico_pinterest.svg', link: '#'},
    {icon: 'img/svg/ico_youtube.svg', link: '#'},
    {icon: 'img/svg/ico_instagram.svg', link: '#'}
];

const videos = [
    {
        title: "<span class=\"videos__title_narrow\">STEP <span class=\"unusual\">BY</span> STEP</span>",
        links: ["https://youtu.be/z8M0Fa1JVco",
            "https://youtu.be/Wi2KcdoCuo4",
            "https://youtu.be/8H6dYUgQKB8",
            "https://youtu.be/PZjGrmHdFME",
            "https://youtu.be/_wLGr24VeoI",
            "https://youtu.be/DG4FAU5qmMY"]
    },
    {
        title: "CRAFT <span class=\"unusual\">EDUCATION</span>",
        links: ["https://youtu.be/RmNWNLXmswk",
            "https://youtu.be/-tztXOz8Vc0",
            "https://youtu.be/kUfIVtyydgQ"]
    },
    {
        title: "INSPIRATION",
        links: ["https://youtu.be/VmmwwzR536g",
            "hhttps://youtu.be/vz0k8O-Ef9Y",
            "https://youtu.be/6oPBFnsqJW8"]
    }
];

function createID(link) {
    return link.slice(-11);
}
%>

<header class="header">
    <div class="header__top">
        <nav class="header__menu menu-top">
            <input type="checkbox" class="menu-top__checkbox" id="hamburger">
            <label for="hamburger" class="menu-top__hamburger"></label>
            <ul class="menu-top__list">
                <% topMenuItems.forEach( item => { %>
                <li class="menu-top__item">
                    <a href="<%= item.href %>" class="menu-top__link">
                        <%= item.title %>
                    </a>
                </li>
                <% }) %>
            </ul>
        </nav>

        <div class="header__logo"></div>
    </div>
    <div class="header__bottom">
        <div class="header__search-open"></div>
        <form action="" class="search">
            <input type="search" class="search__field">
            <input type="submit" class="search__submit">
            <input type="button" class="search__form-closer">
        </form>


        <div class="nearest header__nearest ">
            <span class="nearest__text">NEAREST SALON</span>
            <span class="nearest__more"></span>
            <span class="nearest__adress">Plush Salon 92101</span>
        </div>
    </div>
</header>

<main class="main">

    <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <% breadcrumbItems.forEach( (item, i) => {
            if (i !== breadcrumbItems.length - 1){ %>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="<%= item.link %>">
                    <%= item.title %>
                </a>
            </li>
            <li class="breadcrumbs__item breadcrumbs__separator">/</li>
            <% }
            else { %>
            <li class="breadcrumbs__item breadcrumbs__item_current">
                <a class="breadcrumbs__link breadcrumbs__link_current " href="<%= item.link %>">
                    <%= item.title %>
                </a>
            </li>
            <% }}) %>
        </ul>
    </div>

    <section class="content">
        <article class="videos">
            <div class="videos__title videos__title_first-article ">VIDEOS</div>
            <div class="videos__content_first-article">
                <div class="videos__wrap videos__wrap_first-article">
                    <a href="https://youtu.be/z8M0Fa1JVco" class="videos__link" data-fancybox>
                        <img class="videos__image videos__image_first-article"
                             src="https://img.youtube.com/vi/z8M0Fa1JVco/mqdefault.jpg" alt="">
                        <div class="videos__play">
                            <div class="videos__play__triangle"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="videos__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellensque lobortis nisl at ullamcorper
                egestas, felisadi piscing dolor, a interdum lorem urna quis magna.
            </div>
            <div class="videos__separator"></div>
        </article>

        <% videos.forEach(item =>{ %>
        <article class="videos">
            <div class="videos__title">
                <%- item.title %>
            </div>
            <div class="videos__content videos__slick">
                <% item.links.forEach((video, i) =>{
                if (i >= 3) { %>
                <div class="videos__wrap videos__mobile-hidden">
                    <% } else { %>
                    <div class="videos__wrap">
                        <% } %>
                        <a href="<%= video %>" class="videos__link" data-fancybox>
                            <img class="videos__image"
                                 src="https://img.youtube.com/vi/<%= createID(video) %>/mqdefault.jpg"
                                 alt="">
                            <div class="videos__play">
                                <div class="videos__play__triangle"></div>
                            </div>
                        </a>
                    </div>
                    <% } ) %>
                </div>
                <div class="videos__more">LOAD MORE</div>
        </article>
        <% }) %>
    </section>
</main>

<footer class="footer">
    <ul class="footer__menu footer__social social">
        <% socialItems.forEach( item => { %>
        <li class="social__item">
            <a href="<%= item.link %>" class="social__link">
                <%- include(item.icon) %>
            </a>
        </li>
        <% }) %>
    </ul>

    <div class="settings settings_first">
        <span class="settings__item">LOCATION:</span>
        <span class="settings__button">UNITED STATES</span>
    </div>
    <div class="settings">
        <span class="settings__item">LANGUAGE:</span>
        <span class="settings__button">ENGLISH</span>
    </div>

    <ul class="footer__menu bottom-menu">
        <% bottomMenuItems.forEach((item) => { %>
        <li class="bottom-menu__item"><a class="bottom-menu__link" href="<%= item.link; %>"><%= item.title %></a></li>
        <% }) %>
    </ul>
</footer>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
